*{
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin:0;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(135deg,black,gray);
}


.player{
  width:320px;
  background:black;
  color:black;
  border-radius:20px;
  padding:18px;
  box-shadow:0 15px 40px black(0,0,0,0.6);
}

.album{
  height:200px;
  border-radius:15px;
  background:linear-gradient(135deg,red,orangered);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:48px;
  margin-bottom:12px;
  transition:transform 0.4s;
}

.player:hover .album{
  transform:scale(1.05);
}

.info{
  text-align:center;
}

.info h3{
  margin:6px 0;
  font-size:18px; 
  color: gold;
}

.info p{
  margin:0;
  font-size:13px;
  color:gray;
}

.progress-box{
  margin:15px 0 6px;
  height:6px;
  background:gray;
  border-radius:10px;
  overflow:hidden;
}

.progress{
  width:35%;
  height:100%;
  background:lightgreen;
  transition:width 0.4s;
}

.player:hover .progress{
  width:70%;
}

.time{
  display:flex;
  justify-content:space-between;
  font-size:11px;
  color:gray;
  margin-bottom:12px;
}


.controls{
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.btn{
  width:44px;
  height:44px;
  border-radius:50%;
  background:lightslategray;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:all 0.3s;
}

.btn:hover{
  background:greenyellow;
  transform:scale(1.1);
}

.play{
  width:60px;
  height:60px;
  background:green;
  font-size:20px;
}

.play:hover{
  background:green;
}